<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Конфигурация для вывода логов в консоль -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Конфигурация для сохранения логов в файл -->
        <RollingFile name="File" fileName="logs/app-%d{MM-dd-yyyy}.log"
                     filePattern="logs/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- Создание нового файла логов каждый день -->
                <TimeBasedTriggeringPolicy />
                <!-- Лимит файлов логов -->
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <!-- Максимальное количество хранимых файлов -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>